[submodule "modules/godot_tracy"]
	path = modules/godot_tracy
	url = https://github.com/AndreaCatania/godot_tracy.git
[submodule "modules/godot_tracy_dll/tracy"]
	path = modules/godot_tracy_dll/tracy
	url = D:/YurasGarbage/GitHubRepos/Godot/modules/godot_tracy_dll/tracy
